[flake8]
max-line-length = 120
extend-ignore = E203
exclude = .git,__pycache__,.venv,.mypy_cache,.ruff_cache,build,dist,node_modules
per-file-ignores =
    ui/*:E501
    ui/pages/cliplists.py:E501
    ui/pages/clips.py:E501
    ui/pages/film.py:E501
    ui/pages/films.py:E501
    ui/pages/partner.py:E501
    ui/pages/playlist.py:E501
    ui/utils/fetch_videos.py:E501
    ui/utils/video_player.py:E501
    api/app/utils/emailer.py:E501
